body{
    margin: 0px;
    padding: 0px;
}

input[type=range]{
    pointer-events: none;
}

input[type=range]::-webkit-slider-thumb{
    pointer-events: auto;
}

input[type=range]::-moz-range-thumb{
    pointer-events: auto;
}

input[type=range]::-ms-thumb{
    pointer-events: auto;
}

#main-container{
    height: 100vh;
    min-width: 100%;
}

.jumbotron{
    margin-top: 225px;
}

