body{
    margin: 0px;
    padding: 0px;
    background: url("static/bg.jpg");
}

input[type=range]{
    pointer-events: none;
}

input[type=range]::-webkit-slider-thumb{
    pointer-events: auto;
}

input[type=range]::-moz-range-thumb{
    pointer-events: auto;
}

input[type=range]::-ms-thumb{
    pointer-events: auto;
}

.container{
    height: 100vh;
    min-width: 100%;
}

.jumbotron{
    margin-top: 225px;
}

.img195{
  height: 70px;
  width: 70px;
}
