{% extends 'base.html' %}

{% block title %}
    Invisible Captcha
{% endblock %}

{% block content %}
    {% include 'form.html' %}
            <div class="form-group mt-2">
                <!-- Enter Captcha Code After This Line -->
                <p>Enter what you hear in the following input box {{captcha_text}}</p>
                <audio controls>
                    <source src="./static/cap.wav" type="audio/wav">
                    Your browser does not support the audio tag.
                </audio><br>
                <input type="text" name="captcha-text">
                <!-- Enter Captcha Code Before This Line -->
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}