{% extends 'base.html' %}

{% block title %}
    Confident Captcha
{% endblock %}

{% block content %}
    {% include 'form.html' %}
            <div class="form-group">
                <!-- Enter Captcha Code After This Line -->
                
                      <div class="container" id="confcap">
                        <div class="row flex-end">
                            {% for link in links %}
                            <div class="col col-4">
                                <input type="checkbox" name="img{{forloop.counter0}}" id="img{{forloop.counter0}}" class="status">
                                <label for="img{{forloop.counter0}}" class="status-label"><img class="conimg" src="{{ link }}"></label>
                            </div>
                            {% endfor %}
                        </div>
                      </div>
                <!-- Enter Captcha Code Before This Line -->
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
    </div>
    <script type="text/javascript" >
        $(function($){
            $("#submitButton").attr("disabled",true);
            $(".status").change(function(){
                if ($('.status:checked').length >= 1) {
                    $("#submitButton").removeAttr("disabled");
                }else {
                    $("#submitButton").attr("disabled",true);
                }
            });

        });
    </script>
    <script>
        
    </script>
</div>
{% endblock %}