{% extends 'base.html' %}

{% block title %}
    Fundamental Math
{% endblock %}

{% block content %}
    {% include 'form.html' %}
            <div class="form-group">
                <!-- Enter Captcha Code After This Line -->
                <p>Evaluate the expression you see in the following image</p>
                <img src="./static/funMath.png" style="width: 200px" alt=""><br>
                <input type="text" name="captcha-text" class="mt-4">
                <!-- Enter Captcha Code Before This Line -->
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}